<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/app.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>
</head>
<body ng-app="todo" ng-controller="TodoCtrl">
    <ion-side-menus>
        {% raw %}
        <!-- Center content -->
        <ion-side-menu-content>
            <!-- Header -->
            <ion-header-bar class="bar-dark">
                <!-- Button to display the left panel -->
                <button class="button button-icon" ng-click="toggleProjects()">
                    <i class="icon ion-navicon"></i>
                </button>

                <!-- Header title -->
                <h1 class="title" ng-if="activeProject">{{activeProject.title}}</h1>
                <h1 class="title" ng-if="!activeProject">Tous les projets</h1>
                
                <!-- Header buttons -->
                <div class="buttons" >
                    <!-- Delete completed tasks button -->
                    <button class="button button-icon" ng-click="deleteCompletedTasks()">
                        <i class="icon ion-trash-b"></i>
                    </button>
                    <!-- New task button -->
                    <button class="button button-icon" ng-click="newTask()">
                        <i class="icon ion-compose"></i>
                    </button>
                </div>
            </ion-header-bar>

            <!-- Content -->
            <ion-content scroll="false">
                <!-- Project tasks -->
                <ion-list ng-if="activeProject">
                    <ion-item ng-show="!activeProject.tasks.length">Pas de tâches pour le moment !</ion-item>
                    <ion-item ng-repeat="task in activeProject.tasks" ng-click="onClickTask(task, $index, activeProject)">
                        <div ng-switch on="task.done">
                            <div ng-switch-when="true">
                                <s ng-if="task.done">{{task.title}}</s>
                            </div>
                            <div ng-switch-default>
                                {{task.title}}
                            </div>
                        </div>
                    </ion-item>
                </ion-list>

                <!-- All tasks -->
                <ion-list ng-if="!activeProject">
                    <div ng-repeat="project in projects">
                        <ion-item class="item-divider" ng-click="selectProject(project, $index)">
                            {{project.title}}
                        </ion-item>
                        <ion-item ng-repeat="task in project.tasks" ng-click="onClickTask(task, $index, project)">
                            <div ng-switch on="task.done">
                                <div ng-switch-when="true">
                                    <s ng-if="task.done">{{task.title}}</s>
                                </div>
                                <div ng-switch-default>
                                    {{task.title}}
                                </div>
                            </div>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-content>
            <!--<ion-footer-bar class="bar-dark">
                <button class="button button-icon" ng-click="">
                    <i class="icon ion-trash-b"></i> Supprimer les tâches effectuées
                </button>
            </ion-footer-bar>-->
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left">
            <ion-header-bar class="bar-dark">
                <h1 class="title">Projets</h1>
                <button class="button button-icon ion-plus" ng-click="newProject()"></button>
            </ion-header-bar>
            <ion-content scroll="false">
                <ion-list>
                    <ion-item ng-click="selectAllProjects()" ng-class="{active: !activeProject}">Tous les projets</ion-item>
                    <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}" on-hold="onHoldProject(project, $index)">
                        {{project.title}}
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>

    <script id="new-task.html" type="text/ng-template">
        <div class="modal">
            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
              <h1 class="title">Nouvelle tâche</h1>
              <button class="button button-clear button-positive" ng-click="closeNewTask()">Annuler</button>
            </ion-header-bar>

            <!-- Modal content area -->
            <ion-content>
                <form ng-submit="createTask(task, project)">
                    <div class="list">
                        <label class="item item-input item-select" ng-if="!activeProject">
                            <div class="input-label">Projet</div>
                            <select ng-model="project.title" ng-options="p.title for p in projects">
                                <option value="">(blank)</option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <div class="input-label">Nom de la tâche</div>
                            <input type="text" placeholder="Que dois tu faire?" ng-model="task.title">
                        </label>
                    </div>
                    <div class="padding">
                      <button type="submit" class="button button-block button-positive">Créer la tâche</button>
                    </div>
                </form>
            </ion-content>
        </div>
    </script>
</body>
</html>
